<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574447689037-2l0t5acibk830c03dji53gana7dk5aop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574447689037-2l0t5acibk830c03dji53gana7dk5aop</string>
	<key>API_KEY</key>
	<string>AIzaSyB7N2Nb6Nqg6yzi1zXvZ3_UfYVagF8RhTc</string>
	<key>GCM_SENDER_ID</key>
	<string>574447689037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.laborxclient.LaborX</string>
	<key>PROJECT_ID</key>
	<string>laborx-60ecd</string>
	<key>STORAGE_BUCKET</key>
	<string>laborx-60ecd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574447689037:ios:fdf19f01c1f9841b2fab04</string>
	<key>DATABASE_URL</key>
	<string>https://laborx-60ecd.firebaseio.com</string>
</dict>
</plist>